<header class="header">

  <button aria-expanded="false" aria-controls="search-container" aria-label="Search" class="bt-search"><svg class="icon-top icon-search"><use xlink:href="#icon-search"></use></svg></button>
  <div id="search-container">
    <input type="text" id="search-input" placeholder="Search blog posts...">
    <button aria-label="Close Search Toolbar" class="bt-close"><svg class="icon-top icon-close"><use xlink:href="#icon-close"></use></svg></button>
    <ul id="results-container"></ul>
  </div>

  <hgroup class="title">
    <h1> <a href="/"> <img src="/assets/img/header_light.png"> </a> </h1>  
    <h2> <a href="/"> A simple blog about tech stuff </a> </h2>
  </hgroup>

</header>
