---

---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css');

////////////////
// Variáveis //
///////////////

// Fonte
$default-font: 'Raleway', Arial, sans-serif;
$title-font: 'Roboto Slab', serif;
$code-font: 'Fira Code', monospace;

// Cores
$black: #2E333A;
$white: #ecf0f1;
$grey: darken($white, 3%);
$blue: #1e8bc3;
$midnight: #383C45;
$gray: #999;

// Breakpints
$bp-tablet-large: 800px;
$bp-mobile-large: 500px;

///////////////////
// Placeholders //
//////////////////
%margins {
    margin: 1em 0;
}

/////////////
// Mixins //
////////////
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "base",
        "layout",
        "syntax-highlighting",
        "responsive"
;